@charset "UTF-8";
/*
*     找回密码
*/
a{
    cursor: pointer;

}
.placeholder{
    color: #bfbfbf;
}
/*这是firefox下placeholder的字体颜色*/
::-moz-placeholder {
    color: #bfbfbf;
}
/*这是webkit下placeholder的字体颜色*/
::-webkit-input-placeholder {
    color: #bfbfbf;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
body{
    margin: 0;
    color: #636363;
}
.forget-ban{
    background: #20b4fe;
    height: 10px;
    margin-top: 70px;
    width: 100%;
}
.forget-content h2{
    line-height:70px;
}
.forget-content-niu{
    margin-top: 10px;
}
.forget-content-niu ul{
    list-style: none;
    margin: 0 auto;
    padding: 0;
    height: 2px;
}
.forget-content-niu ul li{
    float: left;
}
.forget-content-niu1{
    height:2px;
    background: #d6d7db;
    border-radius: 5px;
}
.forget-span-active{
    background: #7abd54!important;
}
.forget-p-active{
    color: #7abd54!important;
}
.forget-content-niu2{
    position: relative;
}
.forget-content-niu2:first-child{
    margin-left: 13%;
}
.forget-content-niu ul li span{
    height:20px;
    width:20px;
    border-radius: 50%;
    background: #d6d7db;
    margin-top:-8px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    color: #fff;
}
.forget-content-niu ul li p{
    position:absolute;
    line-height:15px;
    text-align:center;
    width:80px;
    top:20px;
    left:-30px;
    color: #d6d7db;
}
.forget-content-biao,.forget-content-sz{
    margin-top: 70px;
}
.forget-content-biao label{
    padding-right:0;
    padding-left:0;
}
.forget-content-biao button{
    width:22%;
}
.forget-content-btn{
    margin-top: 60px;
}
.forget-content-btn button{
    width:10%;
}
.fail-ok{
    color:#7abd54 ;
}
.fail-remove{
    color:red ;
}
.identity,.password{
    margin-bottom:100px;
}
@media (max-width: 767px)and(min-width: 430px) {
    .forget-content-niu2:first-child{
        margin-left: 11%!important;
    }
}
@media (max-width: 430px) {
    .forget-content-niu2:first-child{
        margin-left: 7%!important;
    }
}

@media (max-width: 768px) {
    .forget-content-biao button{
        width:33%!important;
    }
    .forget-content-btn button{
        width:40%;
    }
}
@media (max-width: 991px) and (min-width: 768px){
    .forget-content-biao .form-group button{
        width:27%!important;
    }
}

/*  设置密码   */

.forget-content-finish{
    width:205px;
    margin:0 auto;
    height:100px;
}
.forget-content-finish div{
    float: left;
}
.forget-content-finish-tu{
    height:50px;
    width:50px;
    margin: 5px 0;
}
.forget-content-finish-tu img{
    height:50px;
    width:50px;
}
.forget-content-finish div h4{
    margin:0;
}
.forget-content-finish div:last-child{
    padding: 10px 5px;
}
.forget-content-finish-shi span{
    color: red;
}